<div class="custom-dropdown">
  <button type="button" class="selected-item" {{on "click" this.toggleDropdown}}>
    {{this.dropdownState.selectedValue}}
    <span class="arrow">▼</span>
  </button>
  {{#if this.dropdownState.isDropdownOpen }}
    <ul class="dropdown-list">
      {{#each this.allRentalLocations as |item|}}
        <li {{on "click" (fn this.getRentalsLocations item)}} role="button">{{item}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>