<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  <a href="https://github.com/NabuhotniiRoman/ember-super-rental" rel="noopener noreferrer" target="_blank"
     class="button">
    <img src="https://www.svgrepo.com/show/331724/github-code-source.svg" class="github-img" alt="github-icon">
    Github Code
  </a>
</Jumbo>

<Rentals @rentals={{@model}} />